@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color:#020617;
  color:white;
}
.movie-container{
  display:flex;
  gap:60px;
  max-width:1100px;
  margin:60px auto;
  padding:20px;
}

.poster{
  width:300px;
  border-radius:10px;
}

.poster-section{
  width:300px;
}

.movie-info{
  margin-top:15px;
}

.info-row{
  display:flex;
  justify-content:space-between;
  margin-top:5px;
}

.details-section{
  flex:1;
}

.movie-title{
  font-size:36px;
  margin-bottom:20px;
}

.section-title{
  font-size:14px;
  color:#aaa;
  margin-bottom:5px;
}

.plot{
  line-height:1.6;
  margin-bottom:20px;
}

.cast{
  margin-bottom:30px;
}

.sentiment-card{
  border:1px solid #444;
  padding:20px;
  border-radius:8px;
}

.sentiment-header{
  display:flex;
  justify-content:space-between;
  margin-bottom:15px;
}

.sentiment{
  color:#22c55e;
}

.score{
  margin-top:10px;
  color:#aaa;
}